
<%-include('partials/header')%>
<section style="background-image: url('./images/farme.png'); background-repeat: no-repeat; background-position: center; " class="lg:mt-20 mt-8 pt-[50px] lg:pb-[100px] pb-[75px]">

  <div>
    <h2 class="lg:text-[32px] text-[20px] hero-heading text-center font-semibold capitalize mx-auto ">About Us</h2>

    <div class="lg:px-14 px-4">
      <div class=" mt-3 relative">
        <img class="lg:h-[500px] h-[300px] w-full object-cover rounded-[30px]" src="<%=data?.aboutUs?.image  %>" alt="">
        <div class="absolute inset-0 rounded-3xl bg-gradient-to-r from-black/60 to-transparent"></div>

        <div class="absolute lg:bottom-12 bottom-6 lg:left-12 left-6">
          <h3 class="lg:text-[20px] text-[18px] font-semibold text-white"><%= data?.aboutUs?.heading  %></h3>
          <p class="font-medium w-[60%] lg:text-[15px] text-[12px] text-white leading-[20+-px]"><%= data?.aboutUs?.subHeading  %></p>
          <a href="#" class="lg:px-6 px-4 rounded-full border-white border mr-1  bg-white text-black lg:text-[15px] text-[12px] font-medium py-2 lg:py-2.5 inline-block mt-3">Explore More <i class="fa-solid fa-arrow-right lg:text-[12px] text-[10px]"></i></a>

        </div>
      </div>
    </div>

  </div>

  <div class="grid lg:grid-cols-3 lg:gap-12 gap-2 lg:px-14 px-6 pt-3 lg:pt-5">
    <div class="col-span-1">
      <h2 class="lg:text-[36px] text-[22px] lg:leading-[40px] font-semibold hero-heading"><%= data?.aboutUs?.title  %></h2>
    </div>

    <div class="lg:col-span-2">
      <p class="text-[#141219] lg:text-[16px] text-[12px] font-medium"><%= data?.aboutUs?.description %></p>
    </div>
  </div>
</section>

  <section class="lg:px-20 px-4 lg:py-12 py-10 bg-[#F4F4F4] ">
    <div class="text-center">
      <span class="bg-white border-white border text-black font-medium px-8 inline-block py-1.5 rounded-full lg:text-[14px] text-[13px]">Our Purpose</span>

      <h2 class="lg:text-[40px] mt-1.5 lg:mt-0 text-[20px] font-semibold"><%= data?.visionMission?.heading %></h2>
      <p class="lg:text-[18px] text-[12px] font-medium "><%= data?.visionMission?.subHeading %></p>
    </div>


    <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-14 gap-4 lg:mt-10 mt-6">
      <div class="col-span-1 bg-[url('./images/a13.png')] rounded-2xl px-7 py-6 w-fullno-repeat">
        <h2 class="lg:text-[28px] text-[20px] font-medium">Our Vision </h2>

        <p class="font-medium mt-1 lg:text-[17px] text-[13px]"><%= data?.visionMission?.OurVision %></p>
      </div>

      <div class="col-span-1 bg-[url('./images/a14.png')] text-white bg-center bg-cover rounded-2xl px-7 py-6 w-fullno-repeat">
        <h2 class="lg:text-[28px] text-[20px] font-medium">Our Mission </h2>

        <p class=" mt-1 lg:text-[17px] text-[13px]"><%= data?.visionMission?.OurMission %></p>
      </div>
    </div>
  </section>

  <section class="lg:px-20 px-4 py-8 lg:py-12">
    <!-- Heading -->
    <div class="text-center">
      <span class="bg-white border text-black font-medium px-8 inline-block py-1.5 rounded-full text-[13px] lg:text-[14px]">
        Our Purpose
      </span>
  
      <h2 class="lg:text-[40px] text-[20px] font-semibold">
        <%= data?.purpose?.heading %>
      </h2>
  
      <p class="lg:text-[18px] text-[12px]">
        <%= data?.purpose?.subHeading %>
      </p>
    </div>
  
    <!-- Dynamic Grid -->
    <div class="grid lg:gap-10 gap-5 lg:grid-cols-4 grid-cols-2 mt-6 lg:mt-10">
      <% data?.purpose?.details?.forEach(function(item) { %>
        <div class="col-span-1 text-center">
          <img class="lg:w-[90px] w-[70px] mx-auto"
               src="<%= item.icon %>"
               alt="<%= item.title %>">
  
          <h3 class="font-semibold lg:text-[18px] text-[16px]">
            <%= item?.title %>
          </h3>
  
          <p class="lg:text-[14px] text-[11px] font-medium lg:leading-[18px]">
            <%= item?.description %>
          </p>
        </div>
      <% }) %>
    </div>
  </section>
  


  <section class="lg:px-14 px-4 lg:py-[80px] py-7">
    <div class="lg:w-[48%] text-center lg:text-left">
      <h2 class="lg:text-[40px] text-[20px] font-semibold"><%= data?.process?.heading  %></h2>
      <p class="lg:text-[18px] text-[12px] font-medium"><%= data?.process?.subHeading %></p>
    </div>

    <div class="grid lg:grid-cols-2 lg:gap-14 gap-5 mt-7">
      <div class="col-span-1">
        <% data?.process?.details?.forEach((step, index) => { %>
        <div class="flex gap-3 items-center mt-<%= index === 0 ? '0' : '10' %>">
          <div class="lg:min-w-[62px] min-w-[50px] <%= index != data?.process?.details?.length-1 ? "nextStep" : " "; %> h-[50px] lg:h-[62px] rounded-full bg-black flex justify-center items-center">
            <img src="/<%= step.icon %>" alt="" class="lg:w-[32px] w-[27px]" style=" filter: invert(1)">
          </div>

          <div>
            <h3 class="lg:text-[18px] text-[15px] font-medium"><%= (index + 1) %>. <%= step.title %></h3>
            <p class="text-[#666666] lg:text-[15px] text-[12px] font-medium"><%= step.description %></p>
          </div>
        </div>
        <% }) %>
      </div>

      <div class="col-span-1">
        <img class="w-full lg:h-[440px] h-[300px] object-cover rounded-[8px] lg:rounded-[30px]" src="/<%= data?.process?.bgImg %>" alt="Blog Writing Process">
      </div>
    </div>
  </section>

  <section class="lg:px-12 px-4 pb-20">
    <div class="text-center">
      <h2 class="lg:text-[40px] text-[20px] font-semibold"><%= data?.team?.title %></h2>
      <p class="lg:text-[18px] text-[12px] font-medium"><%= data?.team?.subTitle %></p>
    </div>

    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 lg:mt-12 mt-8 gap-6">
      <% data?.team?.info.forEach((member) => { %>
      <div class="text-center">
        <img class="lg:w-[200px] w-[100px] mx-auto rounded-full object-cover rounded-full" src="<%= member?.image %>" alt="<%= member?.name %>">

        <p class="lg:text-[14px] text-[12px] lg:mt-4 mt-2"><%= member?.desination %></p>
        <h3 class="font-medium lg:text-[16px] text-[13px] -mt-1"><%= member?.name?.trim() %></h3>

        <div class="flex justify-center gap-2 lg:mt-3 mt-2">
          <!-- X / Twitter -->
          <a href="<%= member?.links && member.links[0] ? member.links[0] : '#' %>" target="_blank" class="lg:h-[35px] lg:w-[35px] h-[28px] w-[28px] bg-black flex justify-center items-center rounded-full hover:bg-gray-800 transition">
            <i class="fa-brands fa-x-twitter lg:text-[13px] text-[11px] text-white"></i>
          </a>

          <!-- LinkedIn -->
          <a href="<%= member?.links && member.links[1] ? member.links[1] : '#' %>" target="_blank" class="lg:h-[35px] lg:w-[35px] h-[28px] w-[28px] bg-black flex justify-center items-center rounded-full hover:bg-gray-800 transition">
            <i class="fa-brands fa-linkedin-in lg:text-[13px] text-[11px] text-white"></i>
          </a>
        </div>
      </div>
      <% }) %>
    </div>
  </section>
  
  
  

  <section class="lg:py-14 px-4 lg:px-0 py-10 bg-[#F0F0F0] text-center lg:mt-20 ">
   <h2 class="font-semibold lg:text-[38px] text-[22px] lg:w-[60%] mx-auto lg:leading-[45px]"><%= data?.bottom?.title %></h2>

   <p class="font-medium lg:text-[17px] text-[14px]"><%= data?.bottom?.subTitle %></p>

   <a href="#" class="bg-black rounded-md py-2 px-8 text-white font-medium inline-block lg:mt-5 mt-3 text-[14px] lg:text-[16px]">Hire Us Today</a>
 </section>
  <%-include('partials/footer')%>