<%-include('partials/header')%>
  <section class="pt-20">
    <div class="lg:px-14 px-4">
      <h2 class="lg:text-[36px] text-[20px] font-medium"><%= data?.blog?.title  %></h2>

      <div class="flex justify-between items-center">
        <p class="lg:text-[17px] text-[14px]"><%=data?.blog?.date%> • <%=data?.blog?.author_name%></p>

      </div>
    </div>

    <div class="mt-2 ">
      <div class="lg:px-14 px-4">
        <img class="w-full rounded-2xl lg:h-[400px] h-[360px] object-cover" src="/<%=data?.blog?.image%>" alt="">

      </div>
      <div class="grid lg:grid-cols-3 lg:mt-5 mt-3 gap-7 lg:px-14 px-4">
        <div class="lg:col-span-2">
          <p class="lg:text-[17px] text-justify lg:text=left text-[13px] text-[#141219]"><%=data?.blog?.description%></p>
        </div>
        <div class="col-span-1">
          <div class="border-b-[#BDBDBD] border-b  pb-2">
            <h2 class="lg:text-[26px] text-[20px] font-medium">Popular Post</h2>
          </div>

          <div class="mt-6 space-y-4">
            <% data?.popular?.forEach(blog => { %>
              <a href="/blog/<%= blog?._id %>" class="flex gap-4 items-center">
                <img class="w-[130px] h-[80px] object-cover rounded-sm" src="/<%= blog?.image %>" alt="<%= blog?.title %>">
                <div>
                  <h2 class="text-[17px] leading-[22px] font-medium"><%= blog?.title %></h2>
                  <p class="font-medium text-[13px] mt-1"><%= blog.date %> • <%= blog?.author_name %></p>
                </div>
              </a>
            <% }) %>
          </div>
        </div>

      </div>


      <div class="mt-10 lg:pl-14 pl-4">
        <h3 class="lg:text-[24px] text-[20px] font-medium">Latest Blog</h3>
        <section class="pb-4 pt-3 relative">
        
<!-- Slider wrapper -->
<div id="blog-slider" class="swiper !overflow-hidden pb-10 h-[300px] lg:h-[430px]">
  <div class="swiper-wrapper">
    <% data?.latest?.forEach(blog => { %>
      <div class="swiper-slide">
        <div class="rounded-b-[20px] shadow-lg">
          <img src="/<%= blog?.image %>" class="lg:h-[200px] h-[110px] rounded-t-[20px] object-cover" alt="<%= blog.title %>">
          <div class="lg:pt-4 pt-3 lg:pb-7 pb-4 lg:px-5 px-3">
            <h3 class="lg:text-[20px] text-[13px] font-medium"><%= blog?.title %></h3>
            <p class="text-[14px] font-medium mt-1"><%= blog?.subTitle %></p>
            <div class="lg:mt-4 mt-2 lg:flex items-center justify-between">
              <p class="font-medium lg:text-[13px] text-[9px]"><%= blog?.date %> • <%= blog?.author_name %></p>
              <a href="/blog/<%= blog?._id %>" class="text-[#7E7979] font-medium lg:text-[15px] text-[11px]">
                Read More <i class="fa-solid fa-arrow-right text-[11px]"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>

      </div>
    </div>


  </section>

  </div>

  </div>
  </section>



  <section class="lg:py-14 px-4 lg:px-0 py-10 bg-[#F0F0F0] text-center lg:mt-20 mt-12">
    <h2 class="font-semibold lg:text-[38px] text-[22px] lg:w-[60%] mx-auto lg:leading-[45px]"><%= data?.bottom?.title %></h2>

    <p class="font-medium lg:text-[17px] text-[14px]"><%= data?.bottom?.subTitle %></p>

    <a href="#" class="bg-black rounded-md py-2 px-8 text-white font-medium inline-block lg:mt-5 mt-3 text-[14px] lg:text-[16px]">Hire Us Today</a>
  </section>



  <%-include('partials/footer')%>

  <script>
    const blogSwiper = new Swiper('#blog-slider', {
      loop: true,
      slidesPerView: 3.4,
      spaceBetween: 20,
      slidesPerGroup: 1,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      breakpoints: {
        0: {
          slidesPerView: 2
        }, // Mobile
        768: {
          slidesPerView: 2
        }, // Tablet
        1024: {
          slidesPerView: 3.4
        } // Desktop
      }
    });
  </script>

 